@font-face {
    font-family: "Corahand-Regular";
    src: url("../Corahand-Regular.ttf");
}

body {
    background-color: #000000;
}

.wrapper {
    width: relative;
    margin-right: 30px;
    position: relative;
    margin-left: 30px;
}

nav {
    margin-right: 30px;
    margin-left: 5px;
    height: 100px;
    z-index: 100px;
    color: rgb(0, 0, 0);
}

nav a {
    font-family: "Corahand-Regular";
    color: #e3cea4;    
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    font-size: 30px;
    padding: 15px;
}

nav a:hover,
nav a.active {
    color: #e2849b; 
}

p {
    font-family: "Corahand-Regular";
    font-size: 30px;
}

a,
a:link {
    color: #e2849b;
}

a:visited {
    color: #aa8233;
}

a:hover {
    color: #e2849b; 
}

a {
    position: relative
}
  
a span {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgb(0, 0, 0);
    max-width: 100%;
    max-height: 300px;
}
  
a:hover span {
    display: block
}

.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  
  .topnav a {
    font-family: "Corahand-Regular";
    float: left;
    display: block;
    color: #aa8233;  
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav a:hover {
    background-color: rgb(0, 0, 0);
    color: #e2849b;
  }
  
  .topnav a.active {
    background-color: rgb(0, 0, 0);
    color: #e2849b;
  }
  
  .topnav .icon {
    display: none;
  }

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: left;
        display: block;
        text-align: left;
    }
}

