.wrapper {
    width: relative;
    margin-right: 180px;
    position: relative;
    margin-left:180px;
}

nav {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    display: block;
    width: 130px;
    padding: 22px;
    height: 100px;
    z-index: 100;
    color:black;
}

nav a {
    font-family: "Tahoma, Geneva, sans-serif";
    color:black;    
    padding: 2px; 
    display: block;
    float: left;
    text-decoration: none;
    margin-right: 4px;
    width: 130%;
	font-size:20px;
}

nav a:hover,
nav a.active {
    color:rgb(9, 9, 9); 
}

.fixed {
    position: fixed;
    top: 0px;
} 

p {
    font-family: "Tahoma, Geneva, sans-serif";
}

a,
a:link {
    color:black;
    color:black;
}

a:visited {
    color:grey;
}

a:hover {
    color:rgb(9, 9, 9); 
}

a {
    position: relative
}
  
a span {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(255,255,255,.8);
    max-width: 100%;
    max-height: 300px;
}
  
a:hover span {
    display: block
}

img {
    max-width: 275px;
    height: auto;
}
